interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v1/public/BTC/ticker
  response:
    body: {string: '{"message":null,"data":{"high":31500,"low":29600.11,"volume":124.94089665,"trades_quantity":2320,"last":31245,"sell":31199.99,"buy":31050,"date":"2018-07-27T19:53:32.612Z"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Response-Time: [6.559ms]
      apicache-store: [memory]
      apicache-version: [1.2.0]
      etag: ['W/"ad-LnFA1Q0E5Oh3Pz4ewsOKE244TJM:dtagent10147180705145128HQ6X"']
    status: {code: 200, message: OK}
version: 1
