interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v1/public/BTC/orders
  response:
    body: {string: '{"message":null,"data":{"bids":[{"unit_price":31050,"code":"rknGPgK4X","stop_limit_price":null,"amount":0.36714976},{"unit_price":31000.2,"code":"H14BueYEm","stop_limit_price":null,"amount":0.43827653},{"unit_price":31000.18,"code":"rJiXVgFEm","stop_limit_price":null,"amount":0.00166612},{"unit_price":31000.01,"code":"Sk8RrltVX","stop_limit_price":null,"amount":0.0360987},{"unit_price":31000,"code":"Bko9hytE7","stop_limit_price":null,"amount":0.97743885},{"unit_price":31000,"code":"Bk6x7eYNX","stop_limit_price":null,"amount":0.00967742},{"unit_price":31000,"code":"BJOLvgtVm","stop_limit_price":nul[...]
