interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/public/BRLBTC/trades
  response:
    body: {string: '{"message":null,"data":{"pagination":{"current_page":1,"page_size":20,"registers_count":633522,"total_pages":31677},"trades":[{"type":"sell","amount":0.12552669,"unit_price":12615,"active_order_code":"XXXXXXXXX","passive_order_code":"XXXXXXXXX","date":"2019-02-04T14:21:38.560Z"},{"type":"sell","amount":0.07447331,"unit_price":12615.03,"active_order_code":"XXXXXXXXX","passive_order_code":"XXXXXXXXX","date":"2019-02-04T14:21:38.553Z"},{"type":"buy","amount":1.01195696,"unit_price":12780,"active_order_code":"XXXXXXXXX","passive_order_code":"XXXXXXXXX","date":"2019-02-04T14:20:12.240Z"},{"type":"buy","amount":0.083809,"unit_price":12727.58,"active_order_code":"XXXXXXXXX","passive_order_code":"XXXXXXXXX","date":"2019-02-04T14:20:12.237Z"},{"type":[...]
[...]
