interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v1/public/BTC/trades
  response:
    body: {string: '{"message":null,"data":{"pagination":{"total_pages":21284,"current_page":1,"page_size":20,"registers_count":425673},"trades":[{"type":"buy","amount":0.02656393,"unit_price":31245,"active_order_code":"H1k_vgY47","passive_order_code":"HkdewxKE7","date":"2018-07-27T19:48:06.777Z"},{"type":"sell","amount":0.00413249,"unit_price":31050,"active_order_code":"HJzsIlt4Q","passive_order_code":"ryYq8et4Q","date":"2018-07-27T19:46:34.713Z"},{"type":"buy","amount":0.03580162,"unit_price":31335.45,"active_order_code":"rk7nSgtVm","passive_order_code":"SkeXGgFVQ","date":"2018-07-27T19:42:36.340Z"},{"type":"buy","amount":0.00171778,"unit_price":31314.06,"active_order_code":"rk7nSgtVm","passive_order_code":"r1EyBRwEQ","date":"2018-07-27T19:42:36.340Z"},{"type[...]
