interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/public/BRLBTC/ticker
  response:
    body: {string: '{"message":null,"data":{"buy":12707.99,"high":12780,"last":12615,"low":12400.05,"sell":12721.99,"trades_quantity":594,"volume":56.78407123,"date":"2019-02-04T14:22:23.409Z"}}'}
    headers:
      apicache-store: [memory]
      apicache-version: [1.2.0]
      content-type: [application/json; charset=utf-8]
      etag: [W/"ae-xcQIM92+HmthyueDfmddcvv2lVw"]
      x-response-time: [0.353ms]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/public/BRLBTC/ticker
  response:
    body: {string: '{"message":null,"data":{"buy":12707.99,"high":12780,"last":12615,"low":12400.05,"sell":12710.6,"trades_quantity":594,"volume":56.78407123,"date":"2019-02-04T14:22:39.040Z"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Response-Time: [0.448ms]
      apicache-store: [memory]
      apicache-version: [1.2.0]
      etag: [W/"ad-gy9amushlV8vS3HainUOVmp7K10"]
    status: {code: 200, message: OK}
version: 1
