interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/public/BRLBTC/orders
  response:
    body: {string: '{"message":null,"data":{"bids":[{"unit_price":12707.99,"code":"XXXXXXXXX","stop_limit_price":null,"amount":0.05901012},{"unit_price":12616,"code":"XXXXXXXXX","stop_limit_price":null,"amount":0.05944832},{"unit_price":12615,"code":"XXXXXXXXX","stop_limit_price":null,"amount":0.47803139},{"unit_price":12572.02,"code":"XXXXXXXXX","stop_limit_price":null,"amount":1.1067},{"unit_price":12572,"code":"XXXXXXXXX","stop_limit_price":null,"amount":0.75191775},{"unit_price":12571,"code":"XXXXXXXXX","stop_limit_price":null,"amount":0.04110994},{"unit_price":12568.45,"code":"XXXXXXXXX","stop_limit_price":null,"am[...]
[...]
