interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v1/ethereum/withdraw/fee
  response:
    body: {string: !!python/unicode '{"message":null,"data":[{"name":"fast","amount":0.0000714},{"name":"regular","amount":0.0000567},{"name":"slow","amount":0.0000462}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['W/"85-6bn3Xt7UWGvLg47FJ+cPskN4FZQ:dtagent10147180705145128HQ6X"']
      x-response-time: [94.389ms]
    status: {code: 200, message: OK}
version: 1
