interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v1/wallets/balance
  response:
    body: {string: !!python/unicode '{"message":null,"data":[{"available_amount":9.72,"locked_amount":0,"currency_code":"BRL"},{"available_amount":0.42424242,"locked_amount":0.1,"currency_code":"BTC"},{"available_amount":0,"locked_amount":0,"currency_code":"ETH"},{"available_amount":0,"locked_amount":0.42424242,"currency_code":"LTC"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['W/"123-y7qzs3VBOMMA2Z2Fi4Q6fG3RS40:dtagent10147180705145128HQ6X"']
      x-response-time: [219.240ms]
    status: {code: 200, message: OK}
version: 1
