interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/market?pair=BRLBTC
  response:
    body: {string: '{"message":null,"data":{"buying":[{"id":"U2FsdGVkX1/IYA2USSGiBs9emcVeYAWJrgf9s86VU4s=","unit_price":12707.99,"code":"XXXXXXXXX","user_code":"XXXXXXXXX","stop_limit_price":null,"amount":0.05901012},{"id":"U2FsdGVkX19sS3RIOvuF7IwN/funQ71hbmb/8DA39xU=","unit_price":12650,"code":"XXXXXXXXX","user_code":"XXXXXXXXX","stop_limit_price":null,"amount":0.39525692},{"id":"U2FsdGVkX19aqXudrhCA7xa8nGTSo8XlXFAVqG+CbZY=","unit_price":12616,"code":"XXXXXXXXX","user_code":"XXXXXXXXX","stop_limit_price":null,"amount":0.05944832},{"id":"U2FsdGVkX1+vDv/Zzw/P24okki99h16RgQIFXcAaJu8=","unit_price":12615,"code":"XXXXXXXXX","user_code":"XXXXXXXXX","stop_limit_price":null,"amount":0.47803139},{"id":"U[...]
[...]
