interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/bitcoin/withdraw
  response:
    body: {string: '{"message":null,"data":{"pagination":{"current_page":1,"page_size":20,"registers_count":1,"total_pages":1},"withdrawals":[{"code":"XXXXXXXXX","origin_address":"1FSzwTdndhtbjGtRTKiu2vQHHrVAPUGSZG","destination_address":"1FSzwTdndhtbjGtRTKiu2vQHHrVAPUGSZG","amount":0.01871485,"miner_fee":0.0001,"miner_fee_type":"slow","tax_index":0,"tax_index_calculated":0,"tax_amount":0,"status":"confirmed","create_date":"2018-12-09T22:00:54.793Z","update_date":"2018-12-09T22:10:10.663Z","transaction_id":"2e66fd125c1c04d583043c28d3d4de47d84fd91a53ea1ae23fc888280e5a13c0","currency_code":"BTC","link":"https://live.blockcypher.com/btc/tx/2e66fd125c1c04d583043c28d3d4de47d84fd91a53ea1ae23fc888280e5a13c0"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"190b-wopBABZU+fFVKN/9KqyO0cu/Hx0"]
      x-response-time: [47.849ms]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/bitcoin/withdraw
  response:
    body: {string: '{"message":null,"data":{"pagination":{"current_page":1,"page_size":20,"registers_count":1,"total_pages":1},"withdrawals":[{"code":"XXXXXXXXX","origin_address":"1FSzwTdndhtbjGtRTKiu2vQHHrVAPUGSZG","destination_address":"1FSzwTdndhtbjGtRTKiu2vQHHrVAPUGSZG","amount":0.01871485,"miner_fee":0.0001,"miner_fee_type":"slow","tax_index":0,"tax_index_calculated":0,"tax_amount":0,"status":"confirmed","create_date":"2018-12-09T22:00:54.793Z","update_date":"2018-12-09T22:10:10.663Z","transaction_id":"2e66fd125c1c04d583043c28d3d4de47d84fd91a53ea1ae23fc888280e5a13c0","currency_code":"BTC","link":"https://live.blockcypher.com/btc/tx/2e66fd125c1c04d583043c28d3d4de47d84fd91a53ea1ae23fc888280e5a13c0"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"190b-wopBABZU+fFVKN/9KqyO0cu/Hx0"]
      X-Response-Time: [38.753ms]
    status: {code: 200, message: OK}
version: 1
