interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v1/bitcoin/withdraw
  response:
    body: {string: !!python/unicode '{"message":null,"data":{"pagination":{"total_pages":2,"current_page":1,"page_size":20,"registers_count":1},"withdrawals":[{"code":"rkvXUY4jG","origin_address":"1FSzwTdndhtbjGtRTKiu2vQHHrVAPUGSZG","destination_address":"1FSzwTdndhtbjGtRTKiu2vQHHrVAPUGSZG","amount":0.0999,"miner_fee":0.0001,"miner_fee_type":"slow","tax_index":0,"tax_index_calculated":0,"tax_amount":0,"status":"confirmed","create_date":"2018-04-12T00:20:11.140Z","update_date":"2018-04-12T00:20:12.320Z","transaction_id":"2A333F0D29BDBBAA69FE5281A130C008591C6BF2ED583CA95C38241AAD1F338D","currency_code":"BTC","link":"https://live.blockcypher.com/btc/tx/2A333F0D29BDBBAA69FE5281A130C008591C6BF2ED583CA95C38241AAD1F338D"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['W/"2c83-JtaSV768x3zF4HnXu4usKHbwNvU:dtagent10147180705145128HQ6X"']
      x-response-time: [89.671ms]
    status: {code: 200, message: OK}
version: 1
