interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/bitcoincash/withdraw
  response:
    body: {string: '{"message":null,"data":{"pagination":{"current_page":1,"page_size":20,"registers_count":0,"total_pages":1},"withdrawals":[]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"7d-G9f01EAAZFOo6/VML6cpDpM1HO4"]
      x-response-time: [29.925ms]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/bitcoincash/withdraw
  response:
    body: {string: '{"message":null,"data":{"pagination":{"current_page":1,"page_size":20,"registers_count":0,"total_pages":1},"withdrawals":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"7d-G9f01EAAZFOo6/VML6cpDpM1HO4"]
      X-Response-Time: [37.279ms]
    status: {code: 200, message: OK}
version: 1
