interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v1/market?currency=BTC
  response:
    body: {string: !!python/unicode '{"message":null,"data":{"buying":[{"id":"U2FsdGVkX19gaDZAVPIpFM8Jp3soIYFiAM9L6GCB6tw=","unit_price":31000.51,"code":"rJleIbYNQ","user_code":"B17etFTa_","stop_limit_price":null,"amount":0.00138191},{"id":"U2FsdGVkX1+n/eAbXua4Iw/rQuTcBW5Zs6iJPK24Gvk=","unit_price":31000.5,"code":"B1f0zbKNm","user_code":"rkLbBN10M","stop_limit_price":null,"amount":0.00312737},{"id":"U2FsdGVkX1++CQZjbaGWbFlrWgvAgpJboQlEyvjc9qY=","unit_price":31000.5,"code":"B1Yf4ZFVX","user_code":"BJALA6bWz","stop_limit_price":null,"amount":0.00161288},{"id":"U2FsdGVkX1/U5Gx/Kxc2xqeN5Uh6XheiqU5M1eRryFU=","unit_price":31000.49,"code":"Hy9Km_tVm","user_code":"HkW5WYDiz","stop_limit_price":null,"amount":0.00192287},{[...]
