interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/market/user_orders/list?pair=BRLBTC
  response:
    body: {string: '{"message":null,"data":{"pagination":{"current_page":1,"page_size":20,"registers_count":73,"total_pages":4},"orders":[{"code":"XXXXXXXXXX","create_date":"2019-01-13T16:10:47.913Z","executed_amount":0.0227545,"id":"XXXXXXXXX=","pair_code":"BRLBTC","remaining_amount":0,"remaining_price":0,"requested_amount":0.0427545,"status":"executed_completely","subtype":"market","total_price":590.48,"type":"sell","unit_price":13810.943877,"update_date":"2019-01-13T16:10:47.953Z"},{"code":"XXXXXXXXXX","create_date":"2019-01-13T16:10:09.410Z","executed_amount":0.37943611,"id":"XXXXXXXXX=","pair_code":"BRLBTC","remaining_amount":0,"remaining_price":0,"requested_amount":0.35943611,"status":"executed_completely","subtype":"market","total_price":4964.76,"type":"sell","unit_price":13812.635575,"update_date":"2019-01-13T16:10:09.670Z"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"1e52-IDpd3um67APQMFYiJiaQpr7sErA"]
      x-response-time: [192.835ms]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/market/user_orders/list?pair=BRLBTC
  response:
    body: {string: '{"message":null,"data":{"pagination":{"current_page":1,"page_size":20,"registers_count":73,"total_pages":4},"orders":[{"code":"XXXXXXXXXX","create_date":"2019-01-13T16:10:47.913Z","executed_amount":0.0227545,"id":"XXXXXXXXX=","pair_code":"BRLBTC","remaining_amount":0,"remaining_price":0,"requested_amount":0.0427545,"status":"executed_completely","subtype":"market","total_price":590.48,"type":"sell","unit_price":13810.943877,"update_date":"2019-01-13T16:10:47.953Z"},{"code":"XXXXXXXXXX","create_date":"2019-01-13T16:10:09.410Z","executed_amount":0.37943611,"id":"XXXXXXXXX=","pair_code":"BRLBTC","remaining_amount":0,"remaining_price":0,"requested_amount":0.35943611,"status":"executed_completely","subtype":"market","total_price":4964.76,"type":"sell","unit_price":13812.635575,"update_date":"2019-01-13T16:10:09.670Z"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"1e52-/NQyiL2pNLiE2Wx7GGlr7E9ditA"]
      X-Response-Time: [111.135ms]
    status: {code: 200, message: OK}
version: 1
