interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v1/bitcoin/withdraw/fee
  response:
    body: {string: !!python/unicode '{"message":null,"data":[{"name":"fast","amount":0.0001},{"name":"regular","amount":0.0001},{"name":"slow","amount":0.0001}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['W/"7c-aec8wbIQmufUyvl/6AiNMWN1dmM:dtagent10147180705145128HQ6X"']
      x-response-time: [452.204ms]
    status: {code: 200, message: OK}
version: 1
