interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/ethereum/withdraw/fee
  response:
    body: {string: '{"message":null,"data":[{"name":"fast","amount":0.00336},{"name":"regular","amount":0.0021},{"name":"slow","amount":0.00126}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"7e-S43ePyvSZ/vXH+4OAfkh5k+UWGY"]
      x-response-time: [20.148ms]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/ethereum/withdraw/fee
  response:
    body: {string: '{"message":null,"data":[{"name":"fast","amount":0.00336},{"name":"regular","amount":0.0021},{"name":"slow","amount":0.00126}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"7e-S43ePyvSZ/vXH+4OAfkh5k+UWGY"]
      X-Response-Time: [30.889ms]
    status: {code: 200, message: OK}
version: 1
