interactions:
- request:
    body: !!python/unicode '{"fee_type": "slow", "destination": "1Dz46MhtvLH4Qd7RxXMxtMS8zZTBe5qiDj",
      "amount": 0.1}'
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: POST
    uri: https://api.bitcointrade.com.br/v2/bitcoincash/withdraw
  response:
    body: {string: !!python/unicode '{"message":null,"data":{"code":"XXXXXXXXX","origin_address":"1Dz46MhtvLH4Qd7RxXMxtMS8zZTBe5qiDj","destination_address":"1Dz46MhtvLH4Qd7RxXMxtMS8zZTBe5qiDj","amount":0.09874,"miner_fee":0.00126,"miner_fee_type":"slow","tax_index":0,"tax_index_calculated":0,"tax_amount":0,"status":"pending","create_date":"2019-02-04T15:58:51.517Z","update_date":"2019-02-04T15:58:51.857Z","transaction_id":null,"currency_code":"BCH","link":null}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"1bd-S36bCNnbxxDmVRsnFvg2dihyNbw"]
      x-response-time: [466.399ms]
    status: {code: 200, message: OK}
version: 1
