interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/litecoin/withdraw/fee
  response:
    body: {string: '{"message":null,"data":[{"name":"fast","amount":0.00051328},{"name":"regular","amount":0.00038496},{"name":"slow","amount":0.0003}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"84-/UrREQjsV4ZLG5yg0fxPdcf388U"]
      x-response-time: [51.566ms]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/litecoin/withdraw/fee
  response:
    body: {string: '{"message":null,"data":[{"name":"fast","amount":0.00051328},{"name":"regular","amount":0.00038496},{"name":"slow","amount":0.0003}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"84-/UrREQjsV4ZLG5yg0fxPdcf388U"]
      X-Response-Time: [50.590ms]
    status: {code: 200, message: OK}
version: 1
