interactions:
- request:
    body: !!python/unicode '{"currency": "BTC", "amount": 0.1, "type": "sell", "unit_price":
      70000.0, "subtype": "limited"}'
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: POST
    uri: https://api.bitcointrade.com.br/v1/market/create_order
  response:
    body: {string: !!python/unicode '{"message":null,"data":{"id":"XXXXXXXXXXXXXXXXXXXXXXXXXX","code":"XXXXXXXXX","type":2,"unit_price":70000,"user_code":"XXXXXXXXX","currency_code":"BTC","amount":0.1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['W/"b7-0ogYrjcnF0QptjKWMvlan8BVs0o:dtagent10147180705145128HQ6X"']
      x-response-time: [667.483ms]
    status: {code: 200, message: OK}
version: 1
