interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v1/market/summary?currency=BTC
  response:
    body: {string: !!python/unicode '{"message":null,"data":[{"unit_price_24h":31307.98,"volume_24h":122.90437957,"max_price":31335.45,"min_price":29600.11,"last_transaction_unit_price":31196.99,"currency":"BTC"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['W/"b1-Mnwl5zzgDCAImaxkcbJOO6AdqyM:dtagent10147180705145128HQ6X"']
      x-response-time: [133.573ms]
    status: {code: 200, message: OK}
version: 1
