interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/wallets/balance
  response:
    body: {string: '{"message":null,"data":[{"available_amount":10000.01,"currency_code":"BRL","locked_amount":0},{"available_amount":0,"currency_code":"BTC","locked_amount":0},{"available_amount":0.1,"currency_code":"ETH","locked_amount":0},{"available_amount":1,"currency_code":"LTC","locked_amount":0},{"available_amount":0.1,"currency_code":"BCH","locked_amount":0}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"15f-jQEfaBx4gTAE23T4ux0dBn5hy3k"]
      x-response-time: [21.691ms]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/wallets/balance
  response:
    body: {string: '{"message":null,"data":[{"available_amount":10000.01,"currency_code":"BRL","locked_amount":0},{"available_amount":0,"currency_code":"BTC","locked_amount":0},{"available_amount":0.1,"currency_code":"ETH","locked_amount":0},{"available_amount":1,"currency_code":"LTC","locked_amount":0},{"available_amount":0.1,"currency_code":"BCH","locked_amount":0}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"15f-jQEfaBx4gTAE23T4ux0dBn5hy3k"]
      X-Response-Time: [35.836ms]
    status: {code: 200, message: OK}
version: 1
