interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/litecoin/deposits
  response:
    body: {string: '{"message":null,"data":{"deposits":[{"code":"XXXXXXXXX","currency_code":"BCH","hash":"892c74741d65890d66682d014c44c716db6ab199e339c971a753169d23ee0b1a","amount":3,"status":"confirmed","create_date":"2019-01-16T17:49:06.243Z","confirmation_date":"2019-01-16T17:49:06.300Z"}],"pagination":{"current_page":1,"page_size":20,"registers_count":1,"total_pages":1}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"166-rfLkm4r/+HIoWKx5Ehe35PPNK7c"]
      x-response-time: [45.596ms]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/litecoin/deposits
  response:
    body: {string: '{"message":null,"data":{"deposits":[{"code":"XXXXXXXXX","currency_code":"BCH","hash":"892c74741d65890d66682d014c44c716db6ab199e339c971a753169d23ee0b1a","amount":3,"status":"confirmed","create_date":"2019-01-16T17:49:06.243Z","confirmation_date":"2019-01-16T17:49:06.300Z"}],"pagination":{"current_page":1,"page_size":20,"registers_count":1,"total_pages":1}}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"166-rfLkm4r/+HIoWKx5Ehe35PPNK7c"]
      X-Response-Time: [124.144ms]
    status: {code: 200, message: OK}
version: 1
