interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/bitcoin/withdraw/fee
  response:
    body: {string: '{"message":null,"data":[{"name":"fast","amount":0.0001},{"name":"regular","amount":0.0001},{"name":"slow","amount":0.0001}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"7c-aec8wbIQmufUyvl/6AiNMWN1dmM"]
      x-response-time: [163.950ms]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/bitcoin/withdraw/fee
  response:
    body: {string: '{"message":null,"data":[{"name":"fast","amount":0.0001},{"name":"regular","amount":0.0001},{"name":"slow","amount":0.0001}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"7c-aec8wbIQmufUyvl/6AiNMWN1dmM"]
      X-Response-Time: [138.420ms]
    status: {code: 200, message: OK}
version: 1
