interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v1/litecoin/withdraw
  response:
    body: {string: !!python/unicode '{"message":null,"data":{"pagination":{"total_pages":1,"current_page":1,"page_size":20,"registers_count":0},"withdrawals":[]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['W/"7d-rtwBFQaFI9ep+iZH64PkbkqAhio:dtagent10147180705145128HQ6X"']
      x-response-time: [132.660ms]
    status: {code: 200, message: OK}
version: 1
