interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v1/litecoin/withdraw/fee
  response:
    body: {string: !!python/unicode '{"message":null,"data":[{"name":"fast","amount":0.00051328},{"name":"regular","amount":0.00038496},{"name":"slow","amount":0.00025664}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['W/"88-hnPYeowBlIFUF/mQVSxhD7uOCLk:dtagent10147180705145128HQ6X"']
      x-response-time: [81.681ms]
    status: {code: 200, message: OK}
version: 1
