interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/ethereum/deposits
  response:
    body: {string: '{"message":null,"data":{"deposits":[{"code":"XXXXXXXXX","currency_code":"ETH","hash":"0x27aace4a62754a3b5fb0c776eb345f1b9d76e2bfbe6680b3fc63de5fc90904dc","amount":0.1,"status":"confirmed","create_date":"2018-10-11T17:37:44.540Z","confirmation_date":"2018-10-11T17:37:44.607Z"}],"pagination":{"current_page":1,"page_size":20,"registers_count":1,"total_pages":1}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"16a-2nmXEKIS+pHRGIJnM3o3m/BkqfA"]
      x-response-time: [29.894ms]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/ethereum/deposits
  response:
    body: {string: '{"message":null,"data":{"deposits":[{"code":"XXXXXXXXX","currency_code":"ETH","hash":"0x27aace4a62754a3b5fb0c776eb345f1b9d76e2bfbe6680b3fc63de5fc90904dc","amount":0.1,"status":"confirmed","create_date":"2018-10-11T17:37:44.540Z","confirmation_date":"2018-10-11T17:37:44.607Z"}],"pagination":{"current_page":1,"page_size":20,"registers_count":1,"total_pages":1}}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"16a-2nmXEKIS+pHRGIJnM3o3m/BkqfA"]
      X-Response-Time: [20.256ms]
    status: {code: 200, message: OK}
version: 1
