interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/bitcoin/deposits
  response:
    body: {string: '{"message":null,"data":{"deposits":[{"code":"XXXXXXXXX","currency_code":"BTC","hash":"2e66fd125c1c04d583043c28d3d4de47d84fd91a53ea1ae23fc888280e5a13c0","amount":0.8,"status":"confirmed","create_date":"2018-11-19T13:40:22.540Z","confirmation_date":"2018-11-19T16:12:04.133Z"}],"pagination":{"current_page":1,"page_size":20,"registers_count":1,"total_pages":1}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"636-wPW2Ph4aaFEzbm/6HMNnWYKgQrU"]
      x-response-time: [32.385ms]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/bitcoin/deposits
  response:
    body: {string: '{"message":null,"data":{"deposits":[{"code":"XXXXXXXXX","currency_code":"BTC","hash":"2e66fd125c1c04d583043c28d3d4de47d84fd91a53ea1ae23fc888280e5a13c0","amount":0.8,"status":"confirmed","create_date":"2018-11-19T13:40:22.540Z","confirmation_date":"2018-11-19T16:12:04.133Z"}],"pagination":{"current_page":1,"page_size":20,"registers_count":1,"total_pages":1}}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"636-wPW2Ph4aaFEzbm/6HMNnWYKgQrU"]
      X-Response-Time: [55.178ms]
    status: {code: 200, message: OK}
version: 1
