interactions:
- request:
    body: !!python/unicode '{"amount": 0.1, "unit_price": 70000.0, "pair": "BRLLTC",
      "subtype": "limited", "type": "sell", "request_price": 7000.0}'
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: POST
    uri: https://api.bitcointrade.com.br/v2/market/create_order
  response:
    body: {string: !!python/unicode '{"message":null,"data":{"id":"XXXXXX","code":"XXXXXXXXX","type":"sell","unit_price":70000,"origin_currency_code":"LTC","destination_currency_code":"BRL","amount":0.1,"pair":"BRLLTC"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"dd-zYR8N+xwdIQeGX56Ni5O2TY8CYM"]
      x-response-time: [689.673ms]
    status: {code: 200, message: OK}
version: 1
