interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v1/litecoin/deposits
  response:
    body: {string: !!python/unicode '{"message":null,"data":{"pagination":{"total_pages":1,"current_page":1,"page_size":20,"registers_count":0},"deposits":[]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['W/"7a-Wo15JvMm/jIDqEC25fgZ7nTHj6w:dtagent10147180705145128HQ6X"']
      x-response-time: [203.599ms]
    status: {code: 200, message: OK}
version: 1
