interactions:
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/bitcoincash/withdraw/fee
  response:
    body: {string: '{"message":null,"data":[{"name":"fast","amount":0.00001027},{"name":"regular","amount":0.00000771},{"name":"slow","amount":0.00000514}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"88-llP8ohEJHxmPzMJ1Tym/lrgX/ks"]
      x-response-time: [124.180ms]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [ApiToken 42]
      Content-Type: [application/json]
    method: GET
    uri: https://api.bitcointrade.com.br/v2/bitcoincash/withdraw/fee
  response:
    body: {string: '{"message":null,"data":[{"name":"fast","amount":0.00001027},{"name":"regular","amount":0.00000771},{"name":"slow","amount":0.00000514}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"88-llP8ohEJHxmPzMJ1Tym/lrgX/ks"]
      X-Response-Time: [57.104ms]
    status: {code: 200, message: OK}
version: 1
